/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquer {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');

.shape {
    font-family: 'Miama', sans-serif;
    font-weight: normal;
}

/* Shared Styles */
.background-color1 {
    background-color: rgba(17, 17, 17, 1);
}

.display-flex {
    display: flex;
}

.max-width {
    max-width: 1060px;
    margin: 0 auto;
}

.color-1 {
    color: rgba(255, 255, 255, 1);
}

.color-2 {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    padding: 16px 45px;
    background-color: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.btn-primary2 {
    padding: 16px 45px;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.btn-primary3 {
    padding: 16px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    position: absolute;
    left: 75%;
    top: 25%;
}

.btn-primary4 {
    padding: 16px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    position: absolute;
    left: 55%;
    top: 68%;
}

.btn-primary5 {
    padding: 16px 71px;
    background-color: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.1rem;
}

.five {
    font-weight: 900;
    font-size: 2.5rem;
}

.free {
    color: rgba(255, 255, 255, 0.65);
}

.three {
    font-weight: 900;
    font-size: 2.5rem;
}

.video {
    color: rgba(255, 255, 255, 0.65);
}

/* Navbar Section */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: bolder;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}

.nav-item>.nav-li {
    list-style: none;
}

.nav-item>.nav-li>.nav-a {
    text-decoration: none;
    margin-left: 47px;
    color: rgba(255, 255, 255, 1);
}

.nav-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    max-width: 465px;
}

#home {
    background-color: rgba(230, 83, 60, 1);
    text-align: center;
    padding: 3px 20px;
    border-radius: 46px;
    margin-left: 0;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
}

/* Banner Item */
.banner-content {
    max-width: 520px;
    margin-right: 167px;
}

.banner-heading {
    font-size: 4.8rem;
    margin-bottom: 28px;
}

.banner-img-container {
    position: relative;
}

/* Habit Part */
.habit-container {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}

.habit-title-1 {
    font-size: 3rem;
    margin-top: 100px;
}

.habit-des-1 {
    margin-bottom: 58px;
}

.habit-images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-img {
    border-radius: 50%;

}

.habit-title {
    margin-top: 30px;
    margin-bottom: 6px;
}

.habit-description {
    text-align: center;
    font-size: 0.8rem;
    max-width: 230px;
}

/* Run Section */
.run {
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    margin-top: 100px;

}

.run-content {
    max-width: 443px;
    margin-left: 54px;
}

.run-title {
    font-size: 3rem;
    margin-bottom: 14px;
}

.run-des {
    font-size: 0.8rem;
}

.img-container {
    max-width: 366px;
    margin-right: 32px;

}

.img-container>img {
    width: 100%;
    padding: 30px 0px;
    border-radius: 35px;
}

/* Trainer Part */
.trainer-images-container {
    background-color: rgba(34, 34, 34, 1);
    padding: 20px;
}

.trainer-content {
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.trainer-title {
    font-size: 3rem;
    margin-bottom: 14px;
    text-align: center;
}

.trainer-des {
    font-size: 0.8rem;
    text-align: center
}

.trainer-images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tainer-img {
    max-width: 350px;
    max-height: 272px;
    position: relative;
}

.tainer-img>img {
    width: 100%;
    height: 100%;
}

.trainer-img-content {
    position: absolute;
    bottom: 0.1%;
    left: 2%;
}

.img-title {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0;
}

.img-des {
    font-size: 0.8rem;
    margin-bottom: 2px;
    margin-top: 5px;
}

/* Footer Section */
footer {
    background-color: rgba(255, 255, 255, 0.025);
    margin-top: 88px;
}

.fitness {
    max-width: 443px;
    margin-top: 66px;
    margin-left: 70px;
}

.fitness-title {
    font-size: 4.3rem;
    font-weight: bolder;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    margin-bottom: 20px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 55px;
}

.get-1 {
    margin-top: 66px;
    margin-left: 120px;
}

.get {
    margin-top: 66px;
    margin-left: 80px;
}

.get-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

footer>hr {
    max-width: 900px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.copyright {
    text-align: center;
    margin-bottom: 30px;
}

/* Responsive Part */
@media screen and (max-width:576px) {

    /* Nav Part */
    .nav-item {
        display: none;
    }

    .nav-title {
        margin-left: 20px;
    }

    .menu-icon {
        display: inline;
        padding-right: 20px;
    }

    /* Banner Part */
    .banner {
        flex-direction: column;
    }

    .banner-content {
        margin-right: 0;
    }

    .banner-img {
        position: absolute;
        left: 5%;
    }

    .btn-primary3 {
        left: 51%;
        top: 130%;
    }

    .btn-primary4 {
        left: 5%;
        top: 170%;
    }

    .banner-content {
        padding: 0 20px;
    }

    /* Habit Part */
    .habit {
        margin-top: 150%;
        margin-left: 28px;
        margin-right: 28px;
    }

    .habit-images-container {

        grid-template-columns: repeat(1, 1fr);
    }

    /* Run Part */
    .run {
        flex-direction: column;
    }

    .run-content {
        padding: 10px 33px 5px 30px;
    }

    .img-container {
        max-width: 287px;
        padding: 15px 33px 5px 30px;
        margin: 0 auto;
    }

    .img-container>img {
        border-radius: 35px;
        margin-left: 10px;

    }

    /* Trainer Part */
    .trainer {
        margin: 0 auto;
    }

    .trainer-images-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
        margin-right: 20px;
    }

    .trainer-content {
        max-width: 340px;
    }

    /* Footer Section */
    .footer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 55px;
    }
    .get {
        margin-top: 66px;
        margin-left: 120px;
    }
    .fitness {
        max-width: 443px;
        margin-top: 66px;
        margin-left: 75px;
    }
}